@font-face {
  font-family: ShabnamBold;
  src: url("./../fonts/Shabnam-Bold-FD/Shabnam-Bold-FD.eot");
  src: url("./../fonts/Shabnam-Bold-FD/Shabnam-Bold-FD.ttf");
  src: url("./../fonts/Shabnam-Bold-FD/Shabnam-Bold-FD.woff");
  src: url("./../fonts/Shabnam-Bold-FD/Shabnam-Bold-FD.woff2");
}
@font-face {
  font-family: Shabnam;
  src: url("./../fonts/Shabnam-FD/Shabnam-FD.eot");
  src: url("./../fonts/Shabnam-FD/Shabnam-FD.ttf");
  src: url("./../fonts/Shabnam-FD/Shabnam-FD.woff");
  src: url("./../fonts/Shabnam-FD/Shabnam-FD.woff2");
}
