<app-loading *ngIf="loading"></app-loading>
<section class="border bg-white overflow-hidden rounded-lg shadow flex items-start p-5 flex-col">
  <div class="overflow-x-auto w-full">
    <table class="table">
      <!-- head -->
      <thead>
      <tr>
        <th>نام</th>
        <th>شغل</th>
        <th>زنگ مورد علاقه</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img src="https://daisyui.com/tailwind-css-component-profile-2@56w.png" alt="Avatar Tailwind CSS Component" />
              </div>
            </div>
            <div>
              <div class="font-bold">حامد</div>
              <div class="text-sm opacity-50">تهران</div>
            </div>
          </div>
        </td>
        <td>
          دلال
          <br/>
          <span class="badge badge-ghost badge-sm h-5">دلال شتر مرغ</span>
        </td>
        <td>قهوه ای</td>
        <th>
          <button class="btn btn-ghost btn-xs">جزییات</button>
        </th>
      </tr>
      <tr>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img src="https://daisyui.com/tailwind-css-component-profile-2@56w.png" alt="Avatar Tailwind CSS Component" />
              </div>
            </div>
            <div>
              <div class="font-bold">حامد</div>
              <div class="text-sm opacity-50">تهران</div>
            </div>
          </div>
        </td>
        <td>
          دلال
          <br/>
          <span class="badge badge-ghost badge-sm h-5">دلال شتر مرغ</span>
        </td>
        <td>قهوه ای</td>
        <th>
          <button class="btn btn-ghost btn-xs">جزییات</button>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</section>
