@import "../../../assets/scss/fonts";
@import "../../../assets/scss/variables";
header {
  width:100%;
  min-height: 92px;
  display: flex;
  align-items: center;
  .navigation {
    position:fixed;
    z-index: 100;
    top:0;
    left:0;
    box-shadow: 0 0 12px rgb(0 0 0 / 10%);
    background-color:white;
    min-height: 82px;
    width:100%;
    .container{
      height: 100%;
      align-items:center;
      min-height: 82px;
      display:flex;
      .nav-brand {
        padding:0;
        color:#343a40;
        font-size:24px;
        text-decoration:none!important;
        display:flex;
        justify-content:flex-start;
        align-items:center;
        img {
          object-fit:contain;
        }
      }
      .nav-menu {
        padding:0;
        list-style:none;
        line-height:normal;
        li {
          display:inline-block;
          text-align:right;
          a {
            padding:30px 0;
            margin-right:1rem;
            display:flex;
            cursor: pointer;
            text-decoration:none;
            font-size: 1rem;
            color:#555;
            align-items:center;
          }
        }
      }
      .logInBtn {
        background: $mainColor;
        color: #fff;
        padding: 8px;
        cursor: pointer;
        border-radius: $rounded;
        border:1px solid $mainColor;
        transition: all .3s;
        font-size: .9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        svg:first-child{
          width: 20px;
          height: 20px;
          fill: #fff;
        }
        &:hover {
          background: $secondColor;
        }
      }
      .tempBtn{
        background: $mainColor;
        color: #fff;
        padding: 8px;
        cursor: pointer;
        border-radius: $rounded;
        border:1px solid $mainColor;
        transition: all .3s;
        font-size: .9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          width: 20px;
          height: 20px;
          fill: #fff;
        }
        &:hover {
          background: $secondColor;
        }
      }
      .token_data_dropdown{
        position: relative;
        .token_data_dropdown_div{
          position: absolute;
          top: 65px;
          left: 0;
          overflow: hidden;
          @apply w-60 flex-col border bg-white rounded-lg shadow sm:max-w-md;
          .list_dropdown{
            a,
            span{
              display: flex;
              align-items: center;
              padding: 10px;
              border-bottom: 1px solid #ddd;
              transition: all .3s;
              font-size: 14px;
              cursor: pointer;
              &:last-child{
                border-bottom: none;
              }
              &:hover{
                background: #f8fafb;
              }
              svg{
                margin-left: 0.5rem;
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  header {
    top:auto;
    bottom: 0;
  }
}
.p-ripple{
  display: none !important;
}
