<div class="border bg-white overflow-hidden rounded-lg shadow flex items-start p-5 flex-col">

  <div class="grid grid-cols-3 gap-3">
    <div class="p-5 rounded-lg bg-gray-100 items-start flex flex-col">
      <h3 class="font-IRANSansFaNumBold text-lg m-0 text-gray-900 mb-2"> بیشتر بیشتر </h3>
      <h3 class="font-IRANSansFaNumBold text-3xl m-0 text-gray-900 mb-2"> 506 </h3>
      <p class="text-md text-gray-600 text-justify"> بیشتر بیشتر ر بیشتر  بیشتر بیشتر ر ر بیشتر بیشتر بیشتر ر بیشتر بیشتر بیشتر ر بیشتر بیشتر بیشتر بیشتربیشتر بیشتر بیشتر </p>
      <a class="a-label is-link mr-auto border mt-3" href="javascript:">
        بیشتر
      </a>
    </div>
    <div class="p-5 rounded-lg bg-gray-100 items-start flex flex-col">
      <h3 class="font-IRANSansFaNumBold text-lg m-0 text-gray-900 mb-2"> بیشتر بیشتر </h3>
      <h3 class="font-IRANSansFaNumBold text-3xl m-0 text-gray-900 mb-2"> 506 </h3>
      <p class="text-md text-gray-600 text-justify"> بیشتر بیشتر ر بیشتر  بیشتر بیشتر ر ر بیشتر بیشتر بیشتر ر بیشتر بیشتر بیشتر ر بیشتر بیشتر بیشتر بیشتربیشتر بیشتر بیشتر </p>
      <a class="a-label is-link mr-auto border mt-3" href="javascript:">
        بیشتر
      </a>
    </div>
    <div class="p-5 rounded-lg bg-gray-100 items-start flex flex-col">
      <h3 class="font-IRANSansFaNumBold text-lg m-0 text-gray-900 mb-2"> بیشتر بیشتر </h3>
      <h3 class="font-IRANSansFaNumBold text-3xl m-0 text-gray-900 mb-2"> 506 </h3>
      <p class="text-md text-gray-600 text-justify"> بیشتر بیشتر ر بیشتر  بیشتر بیشتر ر ر بیشتر بیشتر بیشتر ر بیشتر بیشتر بیشتر ر بیشتر بیشتر بیشتر بیشتربیشتر بیشتر بیشتر </p>
      <a class="a-label is-link mr-auto border mt-3" href="javascript:">
        بیشتر
      </a>
    </div>
  </div>


</div>
