<section class="flex flex-col justify-center py-20 w-full items-center min-h-screen">
  <div class="w-full border bg-white rounded-lg shadow sm:max-w-md">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">ثبت نام</h2>
      <div class="space-y-4 md:space-y-6">
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">نام</label>
            <input type="text"
                   name="name"
                   id="name"
                   class="input input-bordered w-full focus:outline-0"
                   placeholder="نام و نام خانوادگی">
          </div>
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ایمیل</label>
            <input type="email"
                   name="email"
                   id="email"
                   class="input input-bordered w-full focus:outline-0"
                   placeholder="email@gmail.com">
          </div>
          <div>
            <label for="password"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              کلمه عبور
            </label>
            <input type="password"
                   name="password"
                   id="password"
                   placeholder="••••••••"
                   class="input input-bordered w-full focus:outline-0">
          </div>
          <button type="submit"
                  class="btn btn-info w-full">
            <span>بعدی</span>
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            قبلا ثبت نام کرده اید؟
            <a routerLink="/auth/logIn"
               class="font-medium text-primary-600 hover:underline dark:text-primary-500">
              ورود به حساب کاربری
            </a>
          </p>
        </div>
    </div>
  </div>
</section>
<!--<p-toast></p-toast>-->
