@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/fonts";
@import "./assets/scss/variables";

body ,
html {
  font-family: $font-family-1;
  overflow-x: hidden;
  direction: rtl;
  min-height: 100vh;
  background: #F6F6F6;
  scrollbar-color: var(--mainColor) #fff;
  scrollbar-width: thin;
}
main {
  min-height: 100vh;
  margin-top: 82px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $mainColor;
}
::selection {
  color: #fff;
  background: $mainColor;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 1rem 0 0;
}
.p-toast .p-toast-message .p-toast-message-content{
  font-family: $font-family-1 !important;
}

@media (max-width: 992px) {
  main {
    margin-top: 0;
  }
}
