@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/fonts";
@import "./assets/scss/variables";

body ,
html {
  font-family: $font-family-1;
  overflow-x: hidden;
  direction: rtl;
  min-height: 100vh;
  background: #F6F6F6;
  scrollbar-color: var(--mainColor) #fff;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
main {
  min-height: 100vh;
  margin-top: 92px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $mainColor;
}
::selection {
  color: #fff;
  background: $mainColor;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 1rem 0 0;
}
.p-toast .p-toast-message .p-toast-message-content{
  font-family: $font-family-1 !important;
}
.button {
  background: $mainColor;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  border-radius: $rounded;
  border:1px solid $mainColor;
  transition: all .3s;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  svg:first-child{
    width: 20px;
    height: 20px;
    fill: #fff;
  }
}
.asdfghjkl{
  font-size:3rem;
  color:greenyellow
}
.a-label{
  padding: 0.0625rem 0.65rem;
  display: inline-flex;
  justify-content: center;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.75;
  align-items: center;
  border-radius: 0.75rem;
  white-space: nowrap;
  color: #2B2F33;
  background-color: #F8FAFB;
  vertical-align: middle;
}
.a-label.is-success{
  background-color: #EAFAEE;
  color: #1E7B33;
}
.a-label.is-warning {
  background-color: #FFF5E5;
  color: #A85D00;
}
.a-label.is-info {
  background-color: #E8F9FC;
  color: #0F697A;
}
.is-link{
  color: #0077DB;
  padding: 2px 5px;
  box-shadow: none;
  font-size: .75rem!important;
  background-color: transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s;
  svg{
    width: 1.3em;
    height: 1.3em;
    fill: #0077DB;
  }
  &:hover{
    border-color: #C9E3F8;
    background-color: #F2F9FF;
  }
}
.dot3{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (max-width: 992px) {
  main {
    margin-top: 10px;
  }
}
.style_html {
  *{
    line-height: 2;
  }
  video,
  img {
    @apply w-full rounded-lg;
  }
}
